modules = ["web", "nodejs-20"]
[agent]
expertMode = true
integrations = ["javascript_gemini_ai_integrations:2.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "server.js"]

[userenv]

[userenv.shared]
ALIEXPRESS_TRACK_ID = "te"
TELEGRAM_BOT_TOKEN = "8252407430:AAHyK3ZGiwPBL5vVnh1Q-ZIhsjTTObu7WPw"
cook = "CM0+8+iTFCHcZEkoHwZ/tMJyN0SpLX6B4UHsXK1Y5koLC6DHqBFCoTtLAtWiLIXtEsirkabhlLcm9VtN3UTYIsxczqWQo5Kv8wrcgxeU8RRbHZW8ZvGATUMZQhnBC893ApHuP5dhmZcs+GSqJKcXaUiVbDKCgBf39Don4hUm4dgZMtPVVs5D7GbE8+9CdIh/s38TcXp7WO0wa50TvBgy7r76Os/nOM/ep6eTt2cVrnV6GTq8b7G/CouYdnB/xoX6tkKRrN1FzwSckMtXeF7x5I5HOwz9gszW8K2qN42+AW/UCVoHxf6GoWT386nv3/K7VXjHX9yt9eiwyTHrWc2tMEkWRIqd2XrjPetqfHVr197dIFykZVlDrZjZm1uFNUjoE8eEgn3+ERyKrW4V5zX/a+jV9FGZBAOfUNeAWK+kK7DOIZ6n4SskBfH0VPC2bxsxTj9mBFoWiLlTdU/WlBd9VIb4z5w18sKRxHFqvVplHwtrpcZLbb0Wftyu9DKX05KvMr/nMUyVwnH1WlgqKrYxiLyBL52KuwPCSuAZNczlvSltLCjpWZ2JTRzwIRDHbuwnAaUpzkPYlXSJDvUobeBtiIRM269C6o2nP51ycZAF4Ep2gxe5znNOcSE+eZv4FqlCUAWbyeSUYxSRYWGwi6FIADeH/i4g2F11VJWnHqU9ri3Y1CA9nfto+e3jFspXqtK+SSv4IfhXzCqpv1VXj2c+U3S5AHqvbarOAJ+In6VWS7Y="
GEMINI_API_KEY = "AIzaSyDJvjo0VzQv_Bez29aTrwxpHWchbkjx3Y,AIzaSyAu3oE_ubjpQGJJonG0L6pFDqJ8CLG9vk8,AIzaSyC65g7e3NBifnuQ_e9fXsC-RAFK3mj_n9w"
ALIEXPRESS_APP_KEY = "502516"
ALIEXPRESS_APP_SECRET = "vONOQvmPzdHlzsUDE8ZfmTUF7B4XTyId"
