modules = ["web", "nodejs-20"]
[agent]
expertMode = true
integrations = ["javascript_gemini_ai_integrations:2.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "server.js"]

[userenv]

[userenv.shared]
ALIEXPRESS_TRACK_ID = "Bestcoupons"
TELEGRAM_BOT_TOKEN = "8252407430:AAHyK3ZGiwPBL5vVnh1Q-ZIhsjTTObu7WPw"
cook = "eQm3055n+FQOMvviAFAJhQz7+7lHAtKhq7Y9trdq3QY3pBXNAdx4uEHK7mpUoEQDJHJTSilEbGoIjnHRIlv8y24n9RINn2Z/gP767VY0L1kUVUC9xU0jYtn2vlYNjWCyuShJmqlCZVVgQQVKdGWxGFikAUS5CDf6HDqxdgzaNRbl8gsEVxAbz9fqsFyhWf9V08Y5QICbpGlyZKERjBWwXPaqaxyvbooPoEe0Yac8xHd13388BfZUWFsotD34eHf/QTNZzKkHfhUuhyJCIhe2F/xw4kx3nDW935Q4JTeevDA/qFT6NfCGKKZpJb7oEq5zSdKAx6//v0iE+aSGIhfbrUgiZeXCrNIQOZdLnSFDK4i9rkaO5DQ7ZjhPf19tkuR9bVZslEgNd1eQT3IKLJRFTPB+RZ12bOMRKc7hDXm21Bd2ZbfxkkHu9Wblp/Rn12gQv7dhIY5KzDgLQ4w+9ErnAZqRxSGI57ggRaAGeRY8EzGb6KJ42GcVieeV4eDM0IbV72Qvc/r/aw0rok4JGi+C1vHdIz4WDGnIfQoe26yzovJWFpO8JiKiMD4ugSn+c6Y7GxxrB0QFB4GqxIqrtT7KjP4HLWAxTVaAIZkXHSq+w5rkMAtBlLDKBAzznf0sJOuGosMA9GF9uE2dGlHYRVc8b7JXzjLOo1gpYyVH/Icm9es15LEqP27+U7Nz8W6cZZJD1qBbZFel8m5mJPx5X8s5bil8+CJeZx8V"
GEMINI_API_KEY = "AIzaSyAqpjE-uJxLmdZwOcKCH-8-d2DFg3vn7ug,AIzaSyAxaU81gvRtg2fOkigaQTZYIvb6tjSafq0,AIzaSyDukeLRAFcIeE3V9yEEHM-k_OvE560_s54"
ALIEXPRESS_APP_KEY = "502516"
ALIEXPRESS_APP_SECRET = "vONOQvmPzdHlzsUDE8ZfmTUF7B4XTyId"
